/* app css stylesheet */

body {
  margin: 25px;
  padding: 20px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.error {
  color: red;
}

html { 
  background: url(../images/flatirons_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1.culasp-logo {
	position: relative;
	width:442px;
	height:59px;
	top:28px;
	left:10px;
	background: url(../images/cu-lasp-logo.png) 0 0 no-repeat;
}

svg {
	background-color:rgba(124,124,124,0.75)
}

h1.angularjs-logo {
	position: relative;
	width:100px;
	height:60px;
	top:5px;
	left:10px;
	background: url(../images/AngularJS-small.png) 0 0 no-repeat;
}

app{
	padding:50px;
}
